<?xml version="1.0" encoding="utf-8"?><!--
  ~ The contents of this file are subject to the OpenMRS Public License
  ~ Version 1.0 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://license.openmrs.org
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations
  ~ under the License.
  ~
  ~ Copyright (C) OpenMRS, LLC.  All Rights Reserved.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openmrs.mobile"
    android:versionCode="4"
    android:versionName="Beta 2.1.2-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.OpenMRS"
        android:allowBackup="true"
        android:icon="@drawable/ic_openmrs"
        android:label="@string/app_name"
        android:theme="@style/Theme.Openmrs">
        <meta-data
            android:name="buildVersion"
            android:value="0" />

        <provider
            android:name="org.odk.collect.android.openmrs.provider.OpenMRSFormsProvider"
            android:authorities="org.odk.collect.android.openmrs.provider.odk.forms"
            android:exported="false" />
        <provider
            android:name="org.odk.collect.android.openmrs.provider.OpenMRSInstanceProvider"
            android:authorities="org.odk.collect.android.openmrs.provider.odk.instances"
            android:exported="false" />

        <receiver android:name=".application.OpenMRSBroadcastReceiver">
            <intent-filter>
                <action android:name="org.openmrs.mobile.intent.action.AUTH_FAILED_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.UNAUTHORIZED_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.CONN_TIMEOUT_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.NO_INTERNET_CONNECTION_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_UNAVAILABLE_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_ERROR_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SOCKET_EXCEPTION_BROADCAST" />
                <action android:name="org.openmrs.mobile.intent.action.SERVER_NOT_SUPPORTED_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.DashboardActivity"
            android:label="Home" />
        <activity
            android:name=".activities.DialogActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.FindPatientsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/action_find_patients"
            android:launchMode="singleTop">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindPatientsSearchActivity"
            android:label="@string/action_find_patients"
            android:launchMode="singleTop">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindPatientsActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:noHistory="true" />
        <activity android:name=".activities.PatientDashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindPatientsActivity" />
        </activity>
        <activity
            android:name=".activities.FindActiveVisitsActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindActiveVisitsSearchActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindActiveVisitsActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VisitDashboardActivity"
            android:label="@string/visit_dashboard_label"
            android:launchMode="singleTop">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FindActiveVisitsActivity" />
        </activity>
        <activity
            android:name=".activities.FormEntryActivity"
            android:label="@string/action_active_visits"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.CaptureVitalsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_capture_vitals">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.InputManually"
            android:label="@string/title_activity_input_manually" />
        <activity
            android:name=".activities.InputFood"
            android:label="Nutrition Log"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.InputExercise"
            android:label="Exercise Log" />
        <activity
            android:name=".activities.SyncData"
            android:label="Wearables Synchronisation" />
        <activity
            android:name=".activities.InputHeartRate"
            android:label="Heart Rate Log" />
        <activity
            android:name=".activities.InputHeightWeight"
            android:label="Height/Weight Log" />
        <activity
            android:name=".activities.Graph"
            android:label="Overview" />
        <activity
            android:name=".activities.Chat"
            android:label="Input Your Doctor&apos;s Name" />
        <activity
            android:name=".activities.SyncFitBitActivity"
            android:label="SyncFitBit" />
        <activity
            android:name=".activities.SyncFitBitAuthorizationActivity"
            android:label="FitBit Authorization Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="logincallback"
                    android:scheme="openmrs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginPatient"
            android:label="UCL OpenMRS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".activities.SyncGoogleFitService"
            android:label="SyncGoogleFit" />
        <service
            android:name=".activities.SyncFitBitService"
            android:exported="false"
            android:label="SyncFitBit Service" />
        <service
            android:name=".activities.SyncGraphService"
            android:label="SyncGraph Service" />
        <service
            android:name=".activities.AlarmManagerService"
            android:exported="false" />
        <service
            android:name=".activities.NotifyService"
            android:exported="false" />

        <activity
            android:name=".activities.SearchFood"
            android:label="Nutrition Log"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity_FatSecret"
            android:label="@string/title_activity_login_activity__fat_secret" />
        <activity
            android:name=".activities.fragments.ChatMessaging"
            android:label="Chat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ChatMessaging"
            android:label="@string/title_activity_chat_messaging"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RegisterPatient"
            android:label="@string/title_activity_register_patient" />
        <activity
            android:name=".activities.ProfilePage"
            android:label="@string/title_activity_profile_page"></activity>
    </application>

</manifest>
